$modalBg = var(--color-bg-main-strong)
$gutter = $UI.gutters.m

.root
  height 100%

  &.window
    padding 0 $gutter

.overlay
  position absolute
  top 0
  right 0
  left 0
  bottom 0
  background-color var(--Modal-overlayBg)

  +web()
    cursor pointer

.modal
  flex-shrink 1
  background-color $modalBg

  &.window
    margin auto
    max-height 90%
    max-width 776px
    min-width 280px
    border-radius 4px
    shadow(4)

  &.fullscreen
    height 100%
