.body
  padding gutter(2)

.greeting
  color $PRIMARY // use a global variable from /styles/index.styl

.button
  width gutter(4)
  height gutter(4)
  margin gutter()
  align-items center
  justify-content center

.increment
  background-color green

.decrement
  background-color red

.clear
  background-color orange
  width gutter(10)

.label
  color white
  font-size 24px