$grayBlue = #d0d4da
$whiteGray = #f8f8f8
$grayLight = #dedede

.root
  position relative

.overlay
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  width 100%
  height 100%
  background-color transparent
  padding 0
  margin 0
  z-index 10

  +web()
    appearance none
    border-width 0
    cursor pointer
    opacity 0

  +android()
    opacity 0

.modalTop
  flex 1

.modalMiddle
  height 6u
  flex-direction row
  align-items center
  padding-right 2u
  justify-content flex-end
  background-color $whiteGray
  border-top-width 1px
  border-top-color $grayLight

.modalBottom
  justify-content center
  background-color $grayBlue

.done
  color var(--color-text-primary)
  fontFamily('normal', 600)
  font(body1)
