.root
  flex 1
  &:part(contentContainer)
    flex 1
  +desktop()
    background-color $UI.colors.darkLighter
    &:part(contentContainer)
      justify-content center
      align-items center

.wrapper
  padding 2u 0
  width 100%
  border-radius 0.5u
  +desktop()
    width 50u
    background-color $UI.colors.white
    box-shadow $UI.colors.darkLighter 0 1u 1.5u

.logo
  padding 1u
  align-items center
  +desktop()
    margin-bottom 0
    padding 0
    position fixed
    align-items start
    top 3u
    left 10u

.form
  padding-top 1u
  padding-bottom 1u
  padding-left 3u
  padding-right 3u

.caption
  text-align center

.case
  margin-top 2u

.backButton
  +tablet()
    padding-left 3u
    padding-right 1u
    position fixed
    top 0
    left 0
