$input = var(--color-border-main)
$header = var(--color-text-description)
$value = var(--color-text-success)
$type = var(--color-text-info)

.header
  font-size 12px
  letter-spacing 1px
  fontFamily('normal', 600)
  color $header

  &.right
    text-align right

.extends
  border-bottom-width 2px
  border-bottom-color var(--color-border-main)
  background-color rgba(black, 0.03)

.collapsibleHeader
  padding 1u 1u 1u 2u

.possibleValue
  flex-direction row

.value
  color $value
  font-style italic

.valueDefault
  padding-left 4u

.type
  color $type
  font-style italic

.checkbox
  align-self flex-end

.unsupported
  color var(--color-text-description)
  text-align right

.separator
  color var(--color-text-placeholder)

.vCenter
  justify-content center

.required
  margin-top 0.5u
  align-self flex-start

.badJSON
  color var(--color-text-error)
