$UI.colors = {
  mainText: $UI.palette.black,
  secondaryText: rgba($UI.palette.black, 0.5),

  white: $UI.palette.white,
  whiteLight: rgba($UI.palette.white, 0.5),
  whiteLighter: rgba($UI.palette.white, 0.25),
  whiteLightest: rgba($UI.palette.white, 0.05),

  dark: $UI.palette.black,
  darkLight: rgba($UI.palette.black, 0.5),
  darkLighter: rgba($UI.palette.black, 0.25),
  darkLightest: rgba($UI.palette.black, 0.05),

  primary: $UI.palette.blue,
  primaryLight: rgba($UI.palette.blue, 0.5),
  primaryLighter: rgba($UI.palette.blue, 0.25),
  primaryLightest: rgba($UI.palette.blue, 0.05),

  secondary: $UI.palette.black,
  secondaryLight: rgba($UI.palette.black, 0.5),
  secondaryLighter: rgba($UI.palette.black, 0.25),
  secondaryLightest: rgba($UI.palette.black, 0.05),

  success: $UI.palette.green,
  successLight: rgba($UI.palette.green, 0.5),
  successLighter: rgba($UI.palette.green, 0.25),
  successLightest: rgba($UI.palette.green, 0.05),

  warning: $UI.palette.yellow,
  warningLight: rgba($UI.palette.yellow, 0.5),
  warningLighter: rgba($UI.palette.yellow, 0.25),
  warningLightest: rgba($UI.palette.yellow, 0.05),

  error: $UI.palette.red,
  errorLight: rgba($UI.palette.red, 0.5),
  errorLighter: rgba($UI.palette.red, 0.25),
  errorLightest: rgba($UI.palette.red, 0.05),

  attention: $UI.palette.red,
  attentionLight: rgba($UI.palette.red, 0.5),
  attentionLighter: rgba($UI.palette.red, 0.25),
  attentionLightest: rgba($UI.palette.red, 0.05),

  additional0: $UI.palette.orange,
  additional0Light: rgba($UI.palette.orange, 0.5),
  additional0Lighter: rgba($UI.palette.orange, 0.25),
  additional0Lightest: rgba($UI.palette.orange, 0.05),

  additional1: $UI.palette.cyan,
  additional1Light: rgba($UI.palette.cyan, 0.5),
  additional1Lighter: rgba($UI.palette.cyan, 0.25),
  additional1Lightest: rgba($UI.palette.cyan, 0.05),

  additional2: $UI.palette.purple,
  additional2Light: rgba($UI.palette.purple, 0.5),
  additional2Lighter: rgba($UI.palette.purple, 0.25),
  additional2Lightest: rgba($UI.palette.purple, 0.05),

  additional3: $UI.palette.lime,
  additional3Light: rgba($UI.palette.lime, 0.5),
  additional3Lighter: rgba($UI.palette.lime, 0.25),
  additional3Lightest: rgba($UI.palette.lime, 0.05),

  additional4: $UI.palette.ochre,
  additional4Light: rgba($UI.palette.ochre, 0.5),
  additional4Lighter: rgba($UI.palette.ochre, 0.25),
  additional4Lightest: rgba($UI.palette.ochre, 0.05),

  additional5: $UI.palette.violet,
  additional5Light: rgba($UI.palette.violet, 0.5),
  additional5Lighter: rgba($UI.palette.violet, 0.25),
  additional5Lightest: rgba($UI.palette.violet, 0.05)
}
