.root
  flex-direction row
  align-items center

  &.right
    flex-direction row-reverse

.avatar
  &.left
    margin-right 1u

  &.right
    margin-left 1u

.userInfo
  flex-shrink 1

.name
.description
  &.right
    text-align right

.name,
  &.xs
  &.s
  &.m
    font(body2)

  &.l
  &.xl
    font(body1)

  &.xxl
    font(h5)

.description
  &.xs
  &.s
  &.m
    font(caption)

  &.l
  &.xl
    font(body2)

  &.xxl
    font(body1)
