.content
  padding 1.25u 2u 1.25u 2u
  background-color var(--Div-tooltipBg)
  align-items center
  justify-content center
  border-radius .5u
  max-width 220px

  +tablet()
    max-width 360px

.text
  color var(--Div-tooltipText)
  display flex

.arrow
  color var(--Div-tooltipBg)
