// ----- CONFIG: $UI.Span

$this = merge({
  color: var(--color-text-main),
  descriptionColor: var(--color-text-description)
}, $UI.Span, true)

// ----- COMPONENT

_variants = ('default' 'h1' 'h2' 'h3' 'h4' 'h5' 'h6' 'description') // H1-H6, description is DEPRECATED

.root
  color: $this.color
  fontFamily('normal') // DEPRECATED, encapsulated in font()
  font()

  for variant in _variants
    &.{variant}
      font(variant)

  &.bold
    fontFamily('normal', $UI.fontWeights.normalBold)

  &.italic
    fontFamily('normal', $UI.fontWeights.normal, italic)

  &.bold.italic
    fontFamily('normal', $UI.fontWeights.normalBold, italic)

  &.description
    color: $this.descriptionColor

  &.full
    flex: 1
