_borderSize = 2px

.border
  position absolute

  &.top
  &.bottom
    left 0
    right 0
    height _borderSize

  &.top
    top 0

  &.bottom
    bottom 0

  &.left
  &.right
    top 0
    bottom 0
    width _borderSize

  &.left
    left 0

  &.right
    right 0
