.root
  padding 1u 2u
  border-width 1px
  justify-content space-between
  radius()

  &.info
    border-color var(--color-border-primary)
    background-color var(--color-bg-primary-transparent)

  &.error
    border-color var(--color-border-error)
    background-color var(--color-bg-error-transparent)

  &.warning
    border-color var(--color-border-warning)
    background-color var(--color-bg-warning-transparent)

  &.success
    border-color var(--color-border-success)
    background-color var(--color-bg-success-transparent)

// we align height by actions
// since info block has height less small button
.information
  padding 2px 0
  flex-shrink 1

.icon
  flex-shrink 0

  &.info
    color var(--color-text-primary)

  &.error
    color var(--color-text-error)

  &.warning
    color var(--color-text-warning)

  &.success
    color var(--color-text-success)

.content
  flex-shrink 1

  &.indent
    margin-left 1.5u

.actions
  flex-shrink 0
  margin-left 2u
