# IDE folders
.idea
.vscode

# Vim swap files
.s[a-z][a-z]
.*.s[a-z][a-z]

# Mac OS X Finder
.DS_Store

# Node dependencies
node_modules

# npm-debug log
npm-debug.*

# yarn
yarn.lock
yarn-error.log
.yarn/install-state.gz

# lerna log
lerna-debug.log

# Keep local yarn lock
!/yarn.lock

# NPM lock
package-lock.json

# Prettier. NOTE: We use custom eslint rules instead
.prettierrc

/temp

# Test application initialized with `yarn init-local` command.
/testapp

# Test screenshots
/test_failed_screenshots

# Mongo for docker
/.mongo
