$inputBg = var(--color-bg-main-strong)
$inputBorderWidth = 1px
$inputBorderColor = var(--color-border-main)
$inputBgDisabled = var(--color-bg-main)
$inputPlaceholderColor = var(--color-text-placeholder)
$focusedColor = var(--color-border-primary)
$errorColor = var(--color-border-error)
$swipeZoneColor = var(--color-bg-secondary-subtle)
$suggestionsPopoverMaxHeight = 25u

.input
  padding 5px 1u
  background-color $inputBg
  border-width $inputBorderWidth
  border-style solid
  border-color $inputBorderColor
  min-height 4u
  min-width 8u
  radius()

  &.disabled
    background-color $inputBgDisabled

  &.focused
    border-color $focusedColor

  &.error
    border-color $errorColor

.placeholder
  color $inputPlaceholderColor

.tag
  margin-right 0.5u

  &.last
    margin-right 0

.row
  padding-right 3u
  width 100%

.suggestions-web
  padding 0 1u
  max-height $suggestionsPopoverMaxHeight

.suggestions-native
  padding 1u 0

.nativeListContent
  padding-top 5u

  &:part(swipe)
    background-color $swipeZoneColor

.suggestion
  cursor pointer
  padding 1u 2u
  flex-direction row
  align-items center

  +desktop()
    padding 1u

.sugText
  color var(--color-text-main)
  font(h5)

  +desktop()
    font(body2)

.backdropStyle
  // Greater value than @startup/ui's Modal has
  z-index 1501

.popover
  padding 0 .5u
  max-height $suggestionsPopoverMaxHeight
  min-width 20u

.ellipsis
  margin 0 1u

.suggestionItem
  padding 1u 0

.check
  width 2u

.checkIcon
  color var(--color-text-primary)

.label
  margin-right 1u
  flex-grow 1
