.DS_Store
build/
node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# DB data
/data/
# Protection from accidentally commiting private npm keys to a public repo
.npmrc
# Detox
/artifacts/
/e2e/__diff_output__
# Mongo data when running in a docker dev container
/.mongo
