// ----- CONFIG: $UI.Progress

$this = merge({
  duration: 300
}, $UI.Progress, true)

// ----- COMPONENT

_backgroundColor = var(--color-bg-main-subtle-alt)
_fillerColor = var(--color-bg-success)
_duration = $this.duration

.progress
  background-color _backgroundColor
  overflow hidden

.filler
  height _size
  background-color _fillerColor

  +web()
    transition width (_duration/1000)s

.label
  margin-top 2px
  font(caption)

// ----- JS EXPORTS

:export
  config: $this
