$codeBg = var(--color-bg-main)
$exampleBg = var(--color-bg-main)

.p
.blockquoteP
.link
.listIndex
.inlineCode
.inlineCodeSpacer
  font(body1)

.h2
  margin-top 8u

  &-text
    fontFamily('heading', 600)

.h3
  margin-top 6u

  &-text
    fontFamily('heading', 600)

.anchor
  align-self flex-start
  word-break break-word

  &-link
    margin-left 1u
    opacity 0

    &.hover
      opacity 1

.divider
  height 0.5u
  background-color var(--color-bg-secondary)
  margin-bottom 1.5u

.p
  margin-top 2u

.center
  text-align center

.listIndex
  width 3u
  margin-top 2u
  text-align center
  padding-right 2px

.listContent
  flex 1

.alert
  margin-top 2u

.img
  margin-top 2u
  width 100%

.inlineCodeWrapper
  background-color $codeBg
  border-width 1px
  border-color var(--color-border-main)
  border-radius .5u





.example
  margin-top 2u
  background-color $exampleBg
  border-top-left-radius 1u
  border-top-right-radius 1u

  &Content
    flex-direction column
    flex-grow 1

.padding
  padding 2u



.code
  margin-top 2u

  &-example
    margin-top 0

  &-collapse
    background-color $exampleBg
    border-bottom-left-radius 1u
    border-bottom-right-radius 1u

    &-header
      padding-top 1u
      padding-bottom 2u
      padding-left 2u
      padding-right 2u

      +tablet()
        padding-top 2u

    &-content
      padding 2u

  &-action
    margin-left 2u

    &-collapse
    &-copy
      color var(--color-text-description)
