_active = $UI.colors.primary

.top
  padding-top 1.5u

.link
  padding-left 2u
  padding-top 0.5u
  padding-bottom 0.5u
  font-family monospace
  &-active
    color _active
  +web()
    &:hover
      text-decoration underline

.line
  padding 1u 2u

  &Label
    flex 1
