.droppable
  margin-top 1u

.droppable
.span
  flex-shrink 1
  flex-grow 1

.readonly
  &-index
    min-width 2.5u
  &-text
    flex-shrink 1
    flex-grow 1

.draggable
  padding 1u
  border-width 1px
  radius()
  margin-top 1u

.cursor
  +web()
    cursor pointer

.span
  margin-left 2.5u
  justify-content center

.right
  flex-shrink 0
  justify-content center
  margin-left 4u

.icon
  &.disabled
    color var(--color-text-subtle)

.hint
  font(caption)
  margin-top 1u
