.actions
  margin-top 2u

.actionText
  color var(--color-text-main)

.actionChoice
  margin-top 2u
  justify-content center
  align-items center

.recover
  margin-top 2u

.signUp
  margin-left 2u

.resendLink
  color var(--color-text-primary)
  text-decoration-line underline
  text-decoration-color @color
