.wrapper
  flex-grow 1
  flex-shrink 1
  flex-direction column

.carousel
  flex-grow 1
  flex-shrink 1
  flex-direction row

  &.vertical
    flex-direction column

.arrow
  background-color var(--Carousel-arrowWrapperBg)
  align-self center
  cursor pointer
  position absolute
  user-select none
  z-index 999
  border-radius 1u
  padding .5u

  &.vertical
    position relative

.arrowNext
  right 3u

  &.vertical
    right 0

.arrowBack
  left 3u

  &.vertical
    left 0

.root
  overflow hidden
  flex-direction row
  flex-grow 1
  flex-shrink 1

  &.vertical
    flex-direction column

.case
  flex-direction row

  &.vertical
    flex-direction column

.dots
  align-self center
  margin 2u 0

.dot
  height 1u
  width 2u
  background-color var(--color-bg-main-subtle)
  border-radius .3u
  margin 0 .4u
  cursor pointer

.dotActive
  background-color var(--color-bg-primary)
