.root
  position absolute
  z-index 1000

.arrow
  position absolute
  border-width 1u
  border-style solid
  border-color transparent

  &.left
    transform rotate(-90deg)

  &.right
    transform rotate(90deg)

  &.bottom
    transform rotate(180deg)
