$menuHeight = 8u
$logoColor = #FCB69D

.menu
  height $menuHeight
  position absolute
  top 0
  left 0
  right 0
  z-index 1
  flex-direction row
  border-bottom-width 1px
  border-bottom-color rgba(black, 0.02)

.item
  padding-left 2u
  padding-right 2u
  justify-content center
  align-items center
  font-size 2u

.logo
  font-weight bold
  color $logoColor

.body
  padding-top $menuHeight
  flex 1
