<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>899149618741-cq4cbp2d8cehbga31kj7kj9rrtio5du9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.899149618741-cq4cbp2d8cehbga31kj7kj9rrtio5du9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>899149618741-isf2351q22eob6bnhrc0ed9922qfk8ie.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAft-3K0XnSvhlZNzlyGUn7MDROLzh7DBM</string>
	<key>GCM_SENDER_ID</key>
	<string>899149618741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.styleguide</string>
	<key>PROJECT_ID</key>
	<string>startupjs-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>startupjs-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:899149618741:ios:f5464319777bac7f77db7c</string>
	<key>DATABASE_URL</key>
	<string>https://startupjs-auth.firebaseio.com</string>
</dict>
</plist>