.select
  background-color var(--color-bg-main-strong)
  height 4u
  border-radius .5u
  border-style solid
  border-width 1px
  border-color var(--color-border-main)
  padding 0 1u
  align-items center
  justify-content space-between
  min-width 150px

.placeholder
  color var(--color-text-placeholder)

.active
  color var(--color-text-main)
