.root
  background-color var(--color-bg-main)
  flex 1

.main
  flex 1

.subMenuItem
  padding-left 4u

.logo
  width 7.5u
  height 7.5u
  align-self center
  margin-top 4u
  margin-bottom 4u

.hr
  border-bottom-color var(--color-border-main)

.footer
  padding-top 1u
  padding-bottom 1u
  padding-left 2u
  padding-right 0.5u
  background-color var(--color-bg-main-subtle)

.lang
  // TODO: flex-grow 1 for some reason gets removed. Research.
  flex-grow 2
  flex-shrink 1

.options
  margin-left 0.5u
  flex-shrink 0
