.cell
  height 5u
  width 20u
  align-items center
  justify-content center
  align-self center

  +from($UI.media.tablet)
    width 12u

.cellActive
  background-color var(--color-bg-primary)

.cellHover
  background-color var(--color-bg-primary-transparent)

.labelActive
  color var(--color-text-on-primary)

:export
  media: $UI.media
