/* Loading spinner: http://codepen.io/cray0000/pen/MpmqqQ */

#app:empty {
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#app:empty:before {
  -webkit-animation: page-loading-spin 8s infinite linear;
          animation: page-loading-spin 8s infinite linear;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  content: '';
  position: fixed;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  background-color: transparent;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  box-shadow: 75px 1px 0 0 rgba(0,0,0,0.1), 53.325901794px 53.325901794px 0 0 rgba(0,0,0,0.1), 1px 75px 0 0 rgba(0,0,0,0.1), -51.325901794px 53.325901794px 0 0 rgba(0,0,0,0.1), -73px 1px 0 0 rgba(0,0,0,0.1), -51.325901794px -51.325901794px 0 0 rgba(0,0,0,0.1), 1px -73px 0 0 rgba(0,0,0,0.1), 53.325901794px -51.325901794px 0 0 rgba(0,0,0,0.1);
}
#app:empty:after {
  content: 'Loading\A' attr(data-app-name);
  color: rgba(0,0,0,0.1);
  white-space: pre;
  text-align: center;
  line-height: 1.5;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  top: 50%;
  left: 50%;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@-webkit-keyframes page-loading-spin {
  0% {
    -webkit-transform: scale(0.8) rotate(0deg) translateZ(0);
            transform: scale(0.8) rotate(0deg) translateZ(0);
  }
  25% {
    -webkit-transform: scale(1) rotate(270deg) translateZ(0);
            transform: scale(1) rotate(270deg) translateZ(0);
  }
  50% {
    -webkit-transform: scale(0.9) rotate(540deg) translateZ(0);
            transform: scale(0.9) rotate(540deg) translateZ(0);
  }
  75% {
    -webkit-transform: scale(1) rotate(810deg) translateZ(0);
            transform: scale(1) rotate(810deg) translateZ(0);
  }
  100% {
    -webkit-transform: scale(0.8) rotate(1080deg) translateZ(0);
            transform: scale(0.8) rotate(1080deg) translateZ(0);
  }
}
@keyframes page-loading-spin {
  0% {
    -webkit-transform: scale(0.8) rotate(0deg) translateZ(0);
            transform: scale(0.8) rotate(0deg) translateZ(0);
  }
  25% {
    -webkit-transform: scale(1) rotate(270deg) translateZ(0);
            transform: scale(1) rotate(270deg) translateZ(0);
  }
  50% {
    -webkit-transform: scale(0.9) rotate(540deg) translateZ(0);
            transform: scale(0.9) rotate(540deg) translateZ(0);
  }
  75% {
    -webkit-transform: scale(1) rotate(810deg) translateZ(0);
            transform: scale(1) rotate(810deg) translateZ(0);
  }
  100% {
    -webkit-transform: scale(0.8) rotate(1080deg) translateZ(0);
            transform: scale(0.8) rotate(1080deg) translateZ(0);
  }
}
