.root
  &.full
    // NOTE
    // Collapse with text is almost never used.
    // Developers pass its own components to children.
    // Therefore, does the content need paddings ?
    padding 0 2u 2u
