$border = $UI.colors.darkLight

.top
  flex 1
  border-bottom-width 2px
  border-style dashed
  border-color $border

.bottom
  flex 1
  padding 1u
  align-items center // BUG
  justify-content center
