$border = $UI.colors.darkLight

.top
  flex 1
  border-bottom-width 2px
  border-style dashed
  border-color $border

.bottom
  flex 1
  padding 1u
  align-items center
  justify-content center

.title
  font-size 3u
  font-weight 600
  margin-bottom 2u

.table
  font-family Arial, Helvetica, sans-serif

.table tr:first-child td
  font-weight bold
