$gutter = $UI.gutters.m

.root
  padding $gutter

  &.between
    justify-content space-between

  &.right
    justify-content flex-end

.title
  font(h5)
  flex 1

.close
  margin-left 2u

.icon
  color: var(--color-text-description)
