// ----- CONFIG: $UI.Divider

$this = merge({
  heights: {
    m: 1px,
    l: 2px
  }
}, $UI.Divider, true)

// ----- COMPONENT

.root
  background-color var(--color-bg-main-subtle-alt)

  &.horizontal
    width 100%

  &.vertical
    height 100%

// ----- JS EXPORTS

:export
  config: $this
