$button = var(--color-text-placeholder)

.item
  flex-direction row

.input
  flex 1

.add
  &:part(icon)
    color: $button

.remove
  margin-top 0.5u
  margin-left 1u
  &:part(icon)
    color: $button

.pushTop
  margin-top 1u
