.header
  align-items center
  justify-content center
  margin 0 0 .5u 1u

  +from($UI.media.tablet)
    justify-content space-between

.month
  font(h5)

.yearText
  color var(--color-text-primary)
  font(h5)

.actions
  justify-content flex-end
  margin-left 2u

  +from($UI.media.tablet)
    margin-left 0

.button, .years
  margin-left .5u

.years
  &-popover
    padding 0
    max-height 27u

  &-item
    height 4.5u
    align-items center
    justify-content center
    padding-right 2u
    padding-left @padding-right

.year
  font(h5)
