$sidebar = $UI.colors.darkLightest
$active = $UI.colors.primary

.root
  flex-direction row
  flex 1

.left
  padding-top 1u
  width 18u
  background-color $sidebar

.right
  flex 1

.link
  padding-left 1u
  padding-top 0.5u
  padding-bottom 0.5u

  &-active
    color $active

  +web()
    font-family monospace

    &:hover
      text-decoration underline
      font-family monospace
