.root
  position relative

.label
  position absolute
  top 2px
  width 12u
  align-items center

// todo: implement common tooltip style
.text
  background-color var(--Range-labelBg)
  padding 0.5u 1u
  font-style normal
  font(caption)
  color var(--Range-labelText)
  shadow(3)
  radius()

.arrow
  width 0
  height 0
  background-color transparent
  border-style solid
  border-left-width 4px
  border-right-width 4px
  border-bottom-width 4px
  border-left-color transparent
  border-right-color transparent
  border-bottom-color var(--Range-labelBg)
  transform rotate(180deg)
