.overlay
  position absolute
  height 100%
  width 100%
  left 0
  top 0

  +web()
    cursor default
    z-index 8999

.wrapper
  position absolute

  +web()
    z-index 9999

.popoverStamp
  position absolute
  opacity 1
  left -999px
  top -999px
  z-index -1

.popover
  border-radius 1u
  position absolute
  background-color var(--color-bg-main)
  z-index 999
  shadow(3)

.content
  border-radius 1u
  width 100%
  overflow hidden

.hasArrow
  border-radius .5u

:export
  shadows: $UI.shadows
