.arrow
  position absolute
  z-index 999
  border-width 1u
  border-style solid
  border-color transparent

.arrowBottom
  border-bottom-color var(--color-border-main-strong)

.arrowTop
  border-top-color var(--color-border-main-strong)

.arrowLeft
  border-top-color var(--color-border-main-strong)
  transform rotate(-90deg)

.arrowRight
  border-top-color var(--color-border-main-strong)
  transform rotate(90deg)
