.body
  padding 16px

.button
  width 40px
  height 40px
  margin 16px
  align-items center
  justify-content center

.increment
  background-color $TEST_COLOR_1 // global variable from /styles/index.styl

.decrement
  background-color $TEST_COLOR_2

.clear
  background-color orange
  width 96px

.label
  color white
  font-size 24px
