name: Run Tests

on:
  push:

jobs:
  run-tests:

    runs-on: ubuntu-latest

    services:
      mongodb:
        image: mongo:latest
        ports:
          - 27017:27017
      redis:
        image: redis:latest
        ports:
          - 6379:6379

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '20.x'

    - name: Install dependencies
      run: yarn install

    - name: Setup Chrome
      uses: browser-actions/setup-chrome@latest

    - name: Start app
      run: yarn start &

    - name: Wait for 30 seconds
      run: sleep 30s

    - name: Run tests
      run: yarn wdio
